* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(69, 75, 87);
}

.error {
  opacity: 0;
  color: rgb(221, 94, 94);
  font-weight: 400;
  transition: 0.4s;
}
/*------ search ------*/

.search-container {
  margin: 20px 0;
  display: flex;
  border-radius: 150px;
  overflow: hidden;
  /* border: dashed 1px red; */
  width: 100%;
  max-width: 260px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.27);
  background-color: rgb(62, 67, 78);
}
.search-container input {
  padding: 10px 20px;
  width: 100%;
  font-size: 11pt;
  letter-spacing: 1px;
  color: white;
  background-color: transparent;
  border: none;
}

.search-container input:focus {
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
}

.search-container button {
  padding: 0 15px;
  border: none;
  cursor: pointer;
}
/*------ weather ------*/

.weather-container {
  display: flex;
  visibility: hidden;
  /* border: dashed 1px red; */
  background-color: rgb(44, 48, 56);
  border-radius: 25px;
  margin: 0 20px;
  /* width: 100%; */
  /* max-width: 650px; */
  transition: 0.6s;
}

/*----------- current-weather -----------*/

.current-weather {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px;
  border-radius: 25px;
  min-width: 250px;
  /* background-color: rgb(93, 182, 241); */
  background: linear-gradient(
    150deg,
    rgb(102, 175, 209) 5%,
    rgb(115, 108, 156) 100%
  );
  box-shadow: 0px 1px 19px 1px rgba(17, 17, 17, 0.35);
}

.top,
.bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* border: dashed 1px red; */
}

.top {
  padding-bottom: 0px;
}
.bottom {
  justify-content: flex-end;
  padding-top: 20px;
}

.current-weather .main-info {
  display: flex;
  flex-direction: column;
}

.current-weather .main-info .day {
  letter-spacing: 4px;
  font-size: 18pt;
  font-weight: bold;
  text-shadow: 0px 2px 2px rgba(17, 17, 17, 0.27);
}
.current-weather .main-info .date {
  font-size: 13pt;
}
.current-weather .main-info .location {
  margin-top: 7px;
  font-size: 14pt;
}
.weather-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.weather-info .icon {
  width: 100px;
  filter: drop-shadow(0px 1px 1px rgba(17, 17, 17, 0.6));
  margin: 0 0 0 -15px;
}
.weather-info .temp {
  font-size: 45pt;
  font-weight: bold;
  margin-top: -10px;
  margin-left: -5px;
  text-shadow: 0px 2px 2px rgba(17, 17, 17, 0.27);
}
.weather-info .temp-text {
  font-size: 17pt;
  font-weight: bold;
}
.weather-info .temp-description {
  font-size: 12pt;
  opacity: 0.9;
  margin-bottom: 10px;
}

.weather-info .current-details {
  display: flex;
  flex-wrap: wrap;
  /* border: dashed 1px red; */
  /* width: 220px; */
  max-width: 260px;
}

.weather-info .current-details .info {
  /* border: dashed 1px blue; */
  margin-right: 20px;
}

.weather-info .current-details span,
.weather-info .current-details i {
  font-size: 10pt;
  opacity: 0.7;
}

/*----------- weather-details -----------*/

.weather-details {
  display: flex;
  flex-direction: column;
  padding: 35px;
  /* width: 100%; */
  /* border: dashed 1px blue; */
}

.weather-details .main-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  /* border: dashed 1px red; */
}

.weather-details .main-info .info {
  display: flex;
  justify-content: space-between;
}
.weather-details .main-info .info .info-text {
  /* font-weight: bold; */
  /* letter-spacing: 1px; */
  font-size: 13pt;
}
.weather-details .main-info .info .info-value {
  opacity: 0.7;
  font-size: 10pt;
}

.weather-details .main-info .description {
  padding: 5px 0 15px;
}
.weather-details .main-info .description .desc {
  display: flex;
  align-items: center;
  margin-left: -15px;
  margin-bottom: -8px;
}
.weather-details .main-info .description .desc img {
  width: 50px;
}
.weather-details .main-info .description .desc span {
  font-size: 14pt;
}
.weather-details .main-info .description p {
  margin-bottom: 5px;
  opacity: 0.7;
  font-size: 10pt;
}

.wind .direction {
  /* transform: rotate(45deg); */
  margin: 0 3px;
}

.forecast {
  display: flex;
  /* border: solid 1px white; */
  margin: 20px 0;
  background-color: rgba(129, 129, 133, 0.048);
  border-radius: 13px;
  overflow: hidden;
  height: 100%;
  max-height: 150px;
  box-shadow: 0px 3px 8px 1px rgba(37, 37, 37, 0.3);
}

.forecast .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  /* background-color: rgb(92, 91, 89); */
  /* margin: 1px; */
  /* flex-grow: 1; */
}
.forecast .item img {
  width: 50px;
  filter: drop-shadow(0px 1px 1px rgba(17, 17, 17, 0.7));
}
.forecast .item .day {
  margin-bottom: 3px;
}
.forecast .item .max-temp {
  font-weight: bold;
}
.forecast .item .min-temp {
  font-size: 9pt;
  opacity: 0.65;
}

.forecast > div:first-child {
  background-color: rgba(255, 255, 255, 0.75);
  color: rgb(44, 48, 56);
  border-radius: inherit;
}

.active {
  background-color: rgba(255, 255, 255, 0.966);
  color: rgb(44, 48, 56);
}

/* ------- footer -------*/
footer {
  margin: 50px 0 10px;
  opacity: 0.18;
}

footer a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

/*-------------- Media queries --------------*/

@media only screen and (max-width: 730px) {
  .weather-container {
    flex-direction: column;
    margin: 0 20px 20px;
  }
}

@media only screen and (max-width: 460px) {
  .weather-container {
    width: 93%;
  }
}
